.container{
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: center;
}
.details{
    width: 400px;
    text-align: center;
    border: 1px solid black;
    background-color: rgb(238, 238, 238);
    margin: 10px;
}

.name{
    text-decoration: underline;
}

.img{
    width: 300px;
}

